/* Let's take a closer look at the widths of the different sections. 

When we code the mobile site, we want the "container" to take up 90% of the site so that we have 
a bit of space on either side of the content. Everything else will take up the entire width. 
What can you change the width value to so that they take up the entire width of their container? 

Next, compare the bottom-section to the design to see if there are any changes to be made in the 
alignment of the three columns or the vertical borders on either side of the second column. */

/* MOBILE FIRST STYLES */

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex-flow: row wrap;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

h1,
h2,
h3 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}
h1 {
  font-size: 1.875rem;
  border-bottom: 2px solid #77a466;
  text-align: center;
  width: 90%;
  /* margin: 0 10px; */
}
h2 {
  font-size: 1.125rem;
}
h3 {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  line-height: 21px;
  /* padding: 0 30px; */
}

/*The widths are in a percentage!*/
header {
  border-bottom: 3px solid #77a466;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header h1 {
  /* float: left; */
  margin: 0;
  padding: 15px 0;
  /* padding: 38px 0; */
}
header h1 span {
  color: #77a466;
}

header nav {
  /* float: right; */
  padding: 10px 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5em;
}
header nav ul li {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  padding: 0 10px;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  color: #77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* align-items: flex-start; */
  flex-flow: row wrap;
}

.main-image {
  height: auto;
}
.main-image img {
  width: 100%;
  border-bottom: 3px solid #77a466;
}

.main-title {
  height: auto;
  /* float: left; */
}
.main-title h2 {
  text-align: left;
  padding: 5px 0;
  color: #77a466;
}
.main-title p {
  padding: 0;
  font-size: 1rem;
  line-height: 25px;
}

.section-one,
.section-two,
.section-three {
  width: 100%;
  height: auto;
}

.section-one h3 {
  /* padding: 10px 0; */
}

.section-two h3,
.section-three h3 {
  /* padding: 10px 30px; */
}

.menu {
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 10px 0;
  color: #77a466;
}

.reviews {
  color: #333;
  font-size: 1rem;
  line-height: 21px;
}

.address {
  font-size: 1rem;
  line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
  border-top: 3px solid #eee;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
footer span {
  font-family: "Galada", cursive;
  text-transform: lowercase;
  color: #77a466;
  font-size: 0.875rem;
}

/* TABLET STYLES */

@media (min-width: 768px) {
  * {
    /* border: 1px solid red; */
  }

  /* .container {
    width: 100%;
  } */

  .section-one,
  .section-two,
  .section-three {
    width: 30%;
  }

  .bottom-section {
    border-top: 1px solid #eee;
  }

  .section-two {
    padding: 0 2.5%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
  }

  .top-section,
  .bottom-section {
    margin: 0 auto;
    /* max-width: 1200px; */
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }
}

/* TABLET STYLES */

@media (min-width: 1200px) {
  /* * {
    border: 1px solid red;
  } */

  header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  header nav ul {
    flex-direction: row;
  }

  h1 {
    border-bottom: none;
    width: auto;
  }

  .bottom-section {
    border-bottom: 1px solid #eee;
  }
}
